backports-abc==0.5
boto==2.49.0
boto3==1.7.65
botocore==1.10.65
bz2file==0.98
certifi==2018.4.16
chardet==3.0.4
Cython==0.28.4
docutils==0.14
dyNET==2.0.3
ftfy==4.4.3
future==0.16.0
futures==3.2.0
gensim==3.5.0
h5py==2.8.0
html5lib==1.0.1
idna==2.7
jieba==0.39
jmespath==0.9.3
MatchZoo==0.2.0
mercurial==4.5.3
msgpack-python==0.5.1
nltk==3.4.5
numpy==1.14.4
pbr==4.0.3
protobuf==3.6.0
pyahocorasick==1.1.8
pyenchant==1.6.8
pyspark==2.3.2
python-dateutil==2.7.3
requests==2.19.1
s3transfer==0.1.13
scikit-learn==0.19.2
scipy==1.1.0
singledispatch==3.4.0.3
six==1.10.0
sklearn==0.0
smart-open==1.6.0
spacy==2.0.5
thinc==6.10.2
toolz==0.9.0
torchtext==0.2.3
tornado==4.4.2
tqdm==4.23.4
urllib3==1.23
wcwidth==0.1.7
webencodings==0.5.1
wxconv==1.2.3
